@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Competitr</h1>
    <p class="lead">Competitr is a simple web app to help you organize every aspect of your league and competition in one spot.</p>
    <p><a href="/home/" class="btn btn-primary btn-lg">Check us out &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Competition organization</h2>
        <p class="front-page-info">
           Organizing your event has never been easier.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Team Tracking</h2>
        <p class="front-page-info">At Competitr, we really want to focus on your competitors. Track scores, standings, brackets, and statistics with our easy to use Tracking Portal.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Customized Team Portals</h2>
        <p class="front-page-info">Custom portals just for your teams! They can see standings and times in real time, keep up to date on scores and statistics, all from an easy to use Team Portal.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>