@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Competitr</h1>
    <p class="lead">Competitr is a simple web app to help you create workouts and track your athlete's fitness all in one spot</p>
    <p><a href="/home/programming" class="btn btn-primary btn-lg">Give it a try &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>getting started</h2>
        <p class="front-page-info">
            Competitr is really easy to use. Once you get started, you'll never want to use another fitness tracking/programming software again!
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>athlete tracking</h2>
        <p class="front-page-info">Here at Competitr, we put a huge emphasis on tracking progress for athletes. The most important part of hard work is seeing how far you've come, so we want to lay that out for you.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>workout programming</h2>
        <p class="front-page-info">As a coach, you can use Competitr to program for tomorrow, or next week, or 9 months in the future! Just pick a date and get started!</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>